<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @person.country %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @person.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @person.facebook %>
</p>

<p>
  <strong>Linkedin:</strong>
  <%= @person.linkedin %>
</p>

<p>
  <strong>Vk:</strong>
  <%= @person.vk %>
</p>

<p>
  <strong>Relation:</strong>
  <%= @person.relation %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
